<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% if title%}
    <title>Django_Blog -{{title}}</title>
    {%else%}
    <title>Django_Blog</title>
    {%endif%}
</head>
<body>
    <h1>Yipeee!!! Blog Home!!</h1>
    {%for post in posts%}
    <h1>{{post.title}}</h1>
    <p>By {{post.author}} on {{post.date}}</p>
    <p>{{post.content}}</p>
    {%endfor%}

</body>
</html>